.Rproj.user
/notebook/extra_papers_reports/
/notebook/panzacchi_example/
/notebook/klappstein_example/
/notebook/chatterjee_example/
/notebook/qgis_extras/
/notebook/satMaps/
/notebook/manuscript/feedback/
/notebook/Deer Papers/
/Dama.dama/
/GuloGulo/
/Rodent/
/omniscape_output*
/omniscape_output/*
/omniscape_output_rodent/
/omniscape_output_rodent_aberdeen/
/omniscape_output_rodent_wessex/
/omniscape_output_fallow/
/modelOutput/ctmmUD/*
/figures/old/

/data/Deer distribution/*
/data/deerMovementData.csv
/data/deerMovementData_processed.csv
/data/gadm/*
/data/GBIF data/*
/data/GIS data/*
/data/GPS data/*
/data/Home Range Database/*
/data/Human Footprint/*
/data/inputList.rds
/data/NBN Atlas data/*
!/data/GIS data/patchesAberdeen.geoJSON
!/data/GIS data/patchesAberdeen_selected.geoJSON
!/data/GIS data/patchesWessex.geoJSON
!/data/GIS data/patchesWessex_selected.geoJSON
!/data/GPS data/deer GPScollar ticksolve_cleaned.csv
!/data/GPS data/Deer metadata and schedules2.csv
